/*banner / our homepage */
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), rgba (0, 0, 0, 0.5);
    url:("campus-aerial-view.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    width: 800px;
    font-family:'Courier New';

} 

/* end of banner css */

* {
    cursor: url("../imgs/Cursor_Image_.png") 5 0, default;
}

html{
    background-color: rgb(232, 240, 142);
}

#iceberg{
    display:none;
    }

#headerimg {
    min-height: 98vh;
    max-width: 100%;
    object-fit: cover;
}

#treeberg{
    display:block;
    margin:auto;
    margin-top: 5%;
    width: 500px;
}

#treecontainer {
    max-width: 100%;
    max-height: 100%;
    display: none;
    background-image: url("../imgs/placeholder-tree.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slugstick {
    display: none;
    position: sticky;
    bottom: 40%;
    text-align: center;
    transform: translateY(-50%);
    pointer-events: none;
}
.slugstick>img {
    width: 150px;
}

/* info wrapper for content bubbles */

.infowrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(181, 216, 239) ;
    overflow: auto;
    font-family:'Courier New';
    font-size: medium;
    font-weight: bold;
    color:rgb(101, 150, 90);
    border-radius: 7px;
}

.infowrapper:hover {
    border: dotted 2px rgb(0, 8, 255);
}

.infounwrap {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.infounwrapcontent {

    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    background-color:rgb(232, 240, 142); ;

}

/* end of content bubbles */

/* quiz stuff */

#quiz {
    display: none;
}

#quizSubmit {
    display: none;
}

#quizResults {
    display: none;
}

#quizExit {
    display: none;
}

#bannerStart{
    border-radius: 12px;
    padding: 12px 28px;
    background-color: rgb(128, 171, 231);
    font-family:'Courier New';
}

#colleges{
    width: 500px;
}

#figures{ 
    width: 500px;
}







/* grid placement stuff */
/* make sure to put any new css ABOVE this just so all this stuff is at the bottom */

/* headings for the tiers */

.tier-heading{
    color:rgb(65, 41, 10);
    text-align: center;
    font-family: 'Courier New';
    font-size: larger;
    font-weight: bolder;
    display: block;
    padding:5px; margin-left: 500px; margin-right: 500px; background-color: white;

    /* we can make  the background color a different tint of the tree/dirt color*/
}

/* end of headings for tiers */


/* tier grids */

#tier1{
     display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(10,1fr);
    position: relative;
}

#tier2 {
    display: grid;
    grid-template-rows: repeat(11, 100px);
    grid-template-columns: repeat(10,1fr);
    position: relative;
}

#tier3 {
    display: grid;
    grid-template-rows: repeat(14, 100px);
    grid-template-columns: repeat(10,1fr);
    position: relative;
}

#tier4 {
    display: grid;
    grid-template-rows: repeat(17, 100px);
    grid-template-columns: repeat(10,1fr);
    position: relative;
}

#tier5 {
    display: grid;
    grid-template-rows: repeat(13, 100px);
    grid-template-columns: repeat(10,1fr);
    position: relative;
}

#tier6 {
    display: grid;
    grid-template-rows: repeat(13, 100px);
    grid-template-columns: repeat(10,1fr);
    position: relative;
}

#tier7 {
    display: grid;
    grid-template-rows: repeat(13, 100px);
    grid-template-columns: repeat(10,1fr);
    position: relative;
}

#tier8 {
    display: grid;
    grid-template-rows: repeat(13, 100px);
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}

/* end of tier grids */


/* start of tier 1 */

#tli1 {
    grid-row: 3 / span 1;
    grid-column: 4 / span 2;
}

#t1i2 {
    grid-row: 2 / span 1;
    grid-column: 9 / span 2;
}

#t1i3 {
    grid-row: 3 / span 1;
    grid-column: 3 / span 2;
}

#t1i4 {
    grid-row: 4 / span 1;
    grid-column: 7 / span 2;
}

#t1i5 {
    grid-row: 6 / span 1;
    grid-column: 2 / span 2;
}

/* end of tier 1 */


/* start of tier 2 */

#t2i1{
    grid-row: 2/ span 1;
    grid-column: 7/ span 2;
}

#t2i2{
    grid-row: 3/ span 1;
    grid-column: 2/ span 2;

}

#t2i3{
    grid-row: 4/ span 1;
    grid-column: 5/ span 2;
}

#t2i4{
    grid-row: 6/ span 1;
    grid-column: 2/ span 2;

}

#t2i5{
    grid-row: 7/span 1;
    grid-column: 8/ span 2;
}

#t2i6 {
    grid-row: 8/ span 1;
    grid-column: 3/ span 2;
}

#t2i7 {
    grid-row: 9/ span 1;
    grid-column: 8/ span 2;
}

#t2i8 {
    grid-row: 10/ span 1;
    grid-column: 4/ span 2;
}

/* end of tier 2 */


/* start of tier 3 */
#t3i1{
    grid-row: 2/ span 1;
    grid-column: 8/ span 2;
}

#t3i2{
    grid-row: 3/ span 1;
    grid-column: 3/ span 2;
}

#t3i3{
    grid-row: 4/ span 1;
    grid-column: 7/ span 2;
}

#t3i4{
    grid-row: 6/span 1;
    grid-column: 2/span 2;
}

#t3i5{
    grid-row: 7/ span 1;
    grid-column: 8/ span 2;
}

#t3i6{
    grid-row: 8/span 1;
    grid-column: 4/ span 2;
}

#t3i7{
    grid-row:9/ span 1;
    grid-column: 7/ span 2;
}

#t3i8{
    grid-row: 10/span 1;
    grid-column: 2/ span 2;
}

#t3i9{
    grid-row: 11/span 1;
    grid-column: 6/ span 2;
}

#t3i10{
    grid-row: 12/span 1;
    grid-column: 3/ span 2;
}

#t3i11{
    grid-row: 13/span 1;
    grid-column: 8/ span 2;
}

/* end of tier 3 */


/* start of tier 4 */
#t4i1{
    grid-row: 2/ span 1;
    grid-column: 8/ span 2;
}

#t4i2{
    grid-row: 3/ span 1;
    grid-column: 3/ span 2;
}

#t4i3{
    grid-row: 4/ span 1;
    grid-column: 7/ span 2;
}

#t4i4{
    grid-row: 6/span 1;
    grid-column: 2/span 2;
}

#t4i5{
    grid-row: 7/ span 1;
    grid-column: 8/ span 2;
}

#t4i6{
    grid-row: 8/span 1;
    grid-column: 4/ span 2;
}

#t4i7{
    grid-row:9/ span 1;
    grid-column: 7/ span 2;
}

#t4i8{
    grid-row: 10/span 1;
    grid-column: 2/ span 2;
}

#t4i9{
    grid-row: 11/span 1;
    grid-column: 9/ span 2;
}

#t4i10{
    grid-row: 12/span 1;
    grid-column: 3/ span 2;
}

#t4i11{
    grid-row: 13/span 1;
    grid-column: 8/ span 2;
}

#t4i12{
    grid-row: 14/ span 1;
    grid-column: 3/ span 2;
}

#t4i13{
    grid-row: 15/ span 1;
    grid-column: 7/ span 2;
}

#t4i14{
    grid-row: 16/span 1;
    grid-column: 2/ span 2;
}

/* end of tier 4 */